# Proteger arquivos sensíveis
<FilesMatch "^\.env">
    Order allow,deny
    Deny from all
</FilesMatch>

# Redirecionar para a pasta public
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Redirecionar para HTTPS (opcional)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    # Redirecionar para a pasta public
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>